{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:react-hooks/recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "tsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-import",
    "no-relative-import-paths"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "react/no-array-index-key": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "react/jsx-props-no-spreading": [
      0
    ],
    "react/state-in-constructor": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-one-expression-per-line": [
      "error",
      {
        "allow": "single-child"
      }
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "camelcase": 0,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "react/jsx-indent": [
      "error",
      2
    ],
    "react/jsx-indent-props": [
      "error",
      2
    ],
    "react/jsx-no-useless-fragment": 0,
    "no-return-await": 0,
    "no-undef": 0,
    "no-use-before-define": 0,
    "import/no-named-as-default": 0,
    "arrow-parens": 0,
    "react/no-unused-prop-types": 0,
    "react/prop-types": 0,
    "class-methods-use-this": 0,
    "no-plusplus": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "prefer-destructuring": [
      "warn",
      {
        "object": true,
        "array": false
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ],
    "import/no-cycle": "off",
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "directive",
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": "directive",
        "next": "directive"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "export"
      }
    ],
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ],
    "import/prefer-default-export": "off",
    "quotes": [
      "error",
      "single"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-return-assign": [
      "error",
      "except-parens"
    ],
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "no-multi-spaces": [
      2
    ],
    "curly": [
      "error",
      "all"
    ],
    "no-tabs": 0,
    "semi": [
      "error",
      "never"
    ],
    "consistent-return": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true,
        "shorthandFirst": false,
        "shorthandLast": false,
        "ignoreCase": true,
        "noSortAlphabetically": false,
        "reservedFirst": true
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 1
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.test.ts"
      ],
      "rules": {
        "newline-per-chained-call": "off"
      }
    }
  ]
}